<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
    <div th:replace="fragments.html :: main-nav"></div>

    <div class="container">
        <div class="row mt-5 justify-content-center">
            <!-- 프로필 이미지 -->
            <div class="col-2">
                <svg th:if="${#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                     th:data-jdenticon-value="${account.nickname}" width="125" height="125"></svg>
                <img th:if="${!#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                     th:src="${account.profileImage}"
                     width="125" height="125"/>
            </div>

            <!-- 회원정보 -->
            <div class="col-8">
                <h2 th:text="${account.nickname}">닉네임</h2>

                <p class="lead py-2" th:if="${!#strings.isEmpty(account.bio)}" th:text="${account.bio}">bio</p>
                <p class="lead py-2" th:if="${#strings.isEmpty(account.bio)}">
                    <span th:text="${account.nickname}"></span>님의 프로필 페이지 입니다.
                </p>

                <div th:if="${account.joinedAt != null}" class="row py-2">
                    <span style="font-size: 20px;">
                        <i class="fa fa-calendar-o col-1"></i>
                    </span>
                    <span th:text="${#temporals.format(account.joinedAt, 'yyyy년 M월 가입')}" class="col-9"></span>
                </div>

                <div class="row py-2" th:if="${isOwner}">
                    <span style="font-size: 20px;">
                        <i class="fa fa-envelope-o col-1"></i>
                    </span>
                    <span th:text="${account.email}" class="col-9"></span>
                </div>

                <div class="row py-2" th:if="${isOwner || account.emailVerified}">
                    <span th:if="${isOwner && !account.emailVerified}" class="col-9">
                        <a href="#" th:href="@{'/check-email?email=' + ${account.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
                    </span>
                </div>

                <div class="row ml-0 py-2" th:if="${isOwner}">
                    <a class="btn btn-outline-primary" href="#" th:href="@{/settings/profile}">프로필 수정</a>
                </div>

            </div>
        </div>
    </div>

    <footer th:replace="fragments.html :: footer"></footer>
</body>
</html>